# Config
runtime.json

# OSX
.AppleDouble
.LSOverride
Icon
.DS_Store
._*
.Spotlight-V100
.Trashes

# NodeJS
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
node_modules
